name: Build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-bugger-next:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: xcodebuild (BuggerNext)
        working-directory: BuggerNext
        run: xcodebuild -scheme BuggerNextDemo -destination "name=iPhone 14 Pro" | xcpretty && exit ${PIPESTATUS[0]}