name: Build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-bugger-next:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: xcodebuild (Bugger)
        working-directory: BuggerNext
        run: xcodebuild -scheme Bugger -destination "name=Any iOS Device" | xcpretty && exit ${PIPESTATUS[0]}