name: Build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15
    strategy:
      matrix:
        target:
          - Bugger
          - BuggerGitHub
          - BuggerImgurStore
          - HelpfulUI
    steps:
      - uses: actions/checkout@v4
      - name: xcodebuild
        run: xcodebuild -scheme ${{ matrix.target }} -destination "name=iPhone 16 Pro" | xcpretty && exit ${PIPESTATUS[0]}
  build-bugger-linear:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: resolve swift deps
        run: swift package resolve
      - name: generate graphql code
        run: swift run --package-path .build/checkouts/apollo-ios/ apollo-ios-cli generate -p Sources/BuggerLinear/apollo-codegen-config.json
      - name: xcodebuild
        run: xcodebuild -scheme BuggerLinear -destination "name=iPhone 16 Pro" | xcpretty && exit ${PIPESTATUS[0]}
  check-resolved-packages-match:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check
        run: ./scripts/check-resolved-packages-match.sh
