name: Build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-bugger-next:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: xcodebuild (Bugger)
        run: xcodebuild -scheme Bugger -destination "generic/platform=iOS Simulator" | xcbeautify
  build-demo-app:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: xcodebuild (Demo app)
        working-directory: Demo
        run: xcodebuild -scheme demo -destination "generic/platform=iOS Simulator" | xcbeautify
